@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  ring: 0;
}